html, body {
    margin: 0;
    padding: 0;
}

header {
  background-color: #9d2235;
  text-align: left;
  margin: 0;
  padding: 30px;
  color: rgb(245, 245, 245);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

body {
  background-color:#b7945c ;
}

.augseja-sadala {
  background-color: white;
  width: 90%;
  height: 400px;
  margin: 40px auto;
  padding: 30px;
}


.meklesana input[type=text]{
  margin-top: 20px;
  padding: 6px;
  border: solid;
  color: rgb(0, 0, 0);
  font-size: 16px;
  background-color: rgb(255, 255, 255);
}

.statuss {
  margin-left: 220px;
  margin-top: -25px;
}

.lejas-sadala {
  margin-left:330px;
  margin-top: -45px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  padding: 8px;
}


.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #9d2235;}
.button2 {background-color: #9d2235;}
.button3 {background-color: #9d2235;}
